{% extends 'task_manager/base.html' %}

{% block content %}
    <div class="container mt-3">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h1 class="h2 mb-0">Tags</h1>
            <a href="{% url 'tag_new' %}" class="btn btn-outline-primary">Add new tag</a>
        </div>
        
        {% if object_list|length %}
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for tag in object_list %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ tag.name }}</td>
                            <td class="text-right">
                                <a class="btn btn-outline-primary btn-sm mr-2" href="{% url 'tag_edit' tag.id %}">
                                    Edit
                                </a>
                                <a class="btn btn-outline-danger btn-sm" href="{% url 'tag_delete' tag.id %}">
                                    Delete
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
{% endblock %}
