{% extends 'task_manager/base.html' %}
{% load i18n %}
{% load bootstrap4 %}

{% block content %}
{% translate 'Enter tag name' as tag_placeholder %}

    <div class="container mt-3">
        <h1 class="h2">{% translate 'Add new tag' %}</h1>
        <form method="POST">
            {% csrf_token %}
            {% bootstrap_form_errors form type='non_fields' %}
            {% bootstrap_field form.name placeholder=tag_placeholder %}
            <button class="btn btn-primary" type="submit">
                {% translate 'Add tag' %}
            </button>
        </form>
    </div>
{% endblock %}
