{% extends 'task_manager/base.html' %}
{% load i18n %}
{% load bootstrap4 %}

{% block content %}
{% translate object.name as object_name %}
{% translate 'Enter task title' as name_placeholder %}
{% translate 'Enter task description' as description_placeholder %}

    <div class="container mt-3">
        <h1 class="h2">
            {% blocktranslate %}Edit "{{ object_name }}"{% endblocktranslate %}
        </h1>
        <form method="POST">
            {% csrf_token %}
            {% bootstrap_form_errors form type='non_fields' %}
            {% bootstrap_field form.name placeholder=name_placeholder %}
            {% bootstrap_field form.description placeholder=description_placeholder %}
            {% bootstrap_field form.status %}
            {% bootstrap_field form.creator %}
            {% bootstrap_field form.assigned_to %}
            {% bootstrap_field form.tags %}
            <button class="btn btn-primary" type="submit">
                {% translate 'Update task' %}
            </button>
        </form>
    </div>
{% endblock %}