{% extends 'task_manager/base.html' %}

{% block content %}
    <div class="container mt-3">
        <h1 class="h2">Delete {{ object }}</h1>
        <form method="POST">
            {% csrf_token %}
            <p>Are you sure you want to delete "{{ object }}"?</p>
            <a class="btn btn-secondary text-white mr-2" href="{% url 'tasks:task_detail' task.id %}">
                Cancel
            </a>
            <button class="btn btn-danger" type="submit">Delete task</button>
        </form>
    </div>
{% endblock %}