<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>Hello World!</title>
</head>

<body class="text-center">
    <div class="container d-flex flex-column justify-content-center align-items-center min-vh-100">
        <h1 class="mb-4">Please sign in</h1>

        <form class="w-50">
            <input type="email" class="form-control form-control-lg mb-3" placeholder="Enter email">

            <input type="password" class="form-control form-control-lg mb-3" placeholder="Password">

            <div class="form-check text-left mb-4">
                <input type="checkbox" class="form-check-input" id="rememberField">
                <label class="form-check-label" for="rememberField">Remember me</label>
            </div>

            <button type="submit" class="btn btn-primary btn-lg w-100">Submit</button>
        </form>
    </div>
</body>
