{% extends 'task_manager/base.html' %}
{% load bootstrap4 %}
{% load i18n %}

{% block content %}
{% translate 'Enter old password' as old_password_placeholder %}
{% translate 'Enter new password' as new_password_placeholder %}
{% translate 'Repeat new password' as repeat_password_placeholder %}

<div class="container d-flex flex-column min-vh-100">
    <div class="w-50 m-auto">
        <div class="card">
            <div class="card-body p-4">
                <h1 class="card-title h2 text-center mb-4">
                    {% translate 'Change password' %}
                </h1>

                <form method="POST">
                    {% csrf_token %}
                    {% bootstrap_form_errors form type='non_fields' %}
                    {% bootstrap_field form.old_password placeholder=old_password_placeholder %}
                    {% bootstrap_field form.new_password1 placeholder=new_password_placeholder show_help=False %}
                    {% bootstrap_field form.new_password2 placeholder=repeat_password_placeholder %}
                    <button class="btn btn-primary btn-lg w-100 mt-4 mb-2">
                        {% translate 'Update password' %}
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}